/* ======= COMMON STYLES ======= */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-bottom: 96px;
    padding-top: 96px;
}

/* ======= /COMMON STYLES ======= */

/*========== MOBILE HEADER STYLES ==========*/

.header{
    margin: 16px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links{
    display: none;
}

.adress-link{
    display: none;
}

.logo{
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03px;
    text-transform: uppercase;
}

.logo-second-part{
    color: #2E2F42;
}

.burger-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #2F2F37;
    line-height: 0;
}

/*========== /MOBILE HEADER STYLES ==========*/

/*========== MOBILE HERO STYLES ==========*/

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    padding-top: 72px;
    padding-bottom: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.hero-title{
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 72px;
    width: 200px;
    
}

.hero-btn {
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    padding: 16px 32px;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/*========== /MOBILE HERO STYLES ==========*/



/*========== MOBILE OUR ADVANTAGES STYLES ==========*/

.our-advantages-img{
    display: none;
}

.our-advantages-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.our-advantages-item-heading{
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-advantages-item-text{
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*========== /MOBILE OUR ADVANTAGES STYLES ==========*/



/*========== MOBILE OUR TEAM STYLES ==========*/

.our-team{
    background-color: #F4F4FD;
}

.our-team-heading{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.our-team-item{
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-bottom: 72px;
}

.our-team-dev-info{
    padding-top: 32px;
    padding-bottom: 32px;
}

.our-team-item-heading{
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-team-text{
    color:#434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-team-img{
    width: 100%;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    display: flex;
    line-height: 0;

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    fill: #f4f4fd;
}

/*========== /MOBILE OUR TEAM STYLES ==========*/



/*========== MOBILE OUR PORTFOLIO STYLES ==========*/

.our-portfolio-heading{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.our-portfolio-item{
    display: flex;
    width: 288px;
    padding-bottom: 32px;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
    position: relative;
    overflow: hidden;

    border: 1px solid #F4F4FD;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-portfolio-item-img{
    width: 286px;
}

.our-porfolio-item-block{
    padding: 0 16px;
}

.our-portfolio-item-heading{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-portfolio-item-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-portfolio-item-img-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(120%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover .our-portfolio-item-img-text{
    transform: translateY(0%);
}

/*========== /MOBILE OUR PORTFOLIO STYLES ==========*/



/*========== /MOBILE OUR PORTFOLIO STYLES ==========*/

.footer-info{
    background-color: #2E2F42;
    padding-bottom: 96px;
}

.footer-info-logo{
    font-family: "Raleway", sans-serif;
    display: block;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 97.5px;
    margin-bottom: 17.5px;
    text-align: center;
}

.footer-info-text{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-bottom: 72px;
}

.footer-info-second-part{
    color:#F4F4FD;
}

.foter-item-text{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31d0aa;
}

.footer-social-list-icon {
    fill: #f4f4fd;
}

.subscribe-input {
    padding-left: 16px;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    color: #ffffff;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
}

.tg-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}

/*========== /MOBILE OUR PORTFOLIO STYLES ==========*/



/*========== MOBILE MODAL STYLES ==========*/
.mobile-menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn{
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    padding: 0;
    stroke: #2F2F37;
    line-height: 0; 
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus{
    background-color: #404BBF;
    fill: #fff;
}

.mobile-menu-nav{
    margin-top: 72px;
    margin-bottom: 168px;
}

.mobile-menu-link{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-links{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-links:hover,
.mobile-menu-links:focus{
    color: #404BBF;
}


.mobile-menu-address{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-address-links{
    color:#434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-links:hover,
.mobile-menu-address-links:focus{
    color: #4D5AE5;
}

.mobile-menu-social{
    display: flex;
    gap: 40px;
}

.mobile-menu-social-item{
    width: 40px;
    height: 40px;
    border: 1px solid none;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-item:hover,
.mobile-menu-social-links:focus .mobile-menu-social-item {
    background-color: #31d0aa;
}

.mobile-menu-social-icon{
    fill:#F4F4FD;

}

.mobile-menu-address-wrapper{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mobile-menu-wrapper.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/*========== /MOBILE MODAL STYLES ==========*/



/*========== MOBILE BAKCDROP STYLES ==========*/

.backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #2E2F4266;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 72px 24px 24px;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    fill: #2E2F42;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-heading {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
}

.user-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label{
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.user-input:focus {
    border-color: #4D5AE5;
}

.user-input:focus+.user-input-icon {
    fill: #4D5AE5;
}

.user-form-wrapper {
    margin-bottom: 8px;
}

.privacy-link {
    text-decoration-line: underline;
    color: #4D5AE5;
}

.user-input-wrapper {
    position: relative;
}

.user-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-form-comment-wraper {
    margin-bottom: 16px;
}

.user-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.user-comment:focus {
    border-color: #4D5AE5;
}

.user-comment::placeholder {
    color: (46, 47, 66, 0.40);
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.user-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.privacy-checkbox {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-input:checked+.user-label>.privacy-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.privacy-input:focus+.user-label>.privacy-checkbox {
    outline: 1px solid #4D5AE5;
}

.sumbit-btn {
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    margin: 0 auto;
}

.sumbit-btn:hover,
.sumbit-btn:focus {
    background-color: #404BBF;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/*========== /MOBILE BACKDROP STYLES ==========*/



@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}

/*========== TABLET HEADER STYLES ==========*/

/*========== /TABLET HEADER STYLES ==========*/

@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
    }
}

/*========== DESKTOP HEADER STYLES ==========*/

/*========== /DESKTOP HEADER STYLES ==========*/